.footer {
	background-color: $main-background-color;
	width: 100%;
	color: $main-font-color;
	font-weight: normal;
	display: flex;
	align-items: center;
	padding: 20px;

	&__content {
		display: flex;
		gap: 0.2rem;
		justify-content: center;
		width: 100%;
		margin: auto;
		text-align: center;
		font-weight: normal;

		a:hover {
			color: $second-font-color;
		}
	}
}

@media (max-width: 800px) {
	/*---------- Footer ----------*/
	.footer {
		&__content {
			flex-direction: column;
		}
	}
}

